@layer base {
    @font-face {
        font-family: "Peyda";
        src: url("/fonts/Peyda/300-PeydaWeb-Light.woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Peyda";
        src: url("/fonts/Peyda/400-PeydaWeb-Regular.woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Peyda";
        src: url("/fonts/Peyda/500-PeydaWeb-Medium.woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Peyda";
        src: url("/fonts/Peyda/600-PeydaWeb-SemiBold.woff2");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Peyda";
        src: url("/fonts/Peyda/700-PeydaWeb-Bold.woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Peyda";
        src: url("/fonts/Peyda/900-PeydaWeb-Black.woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
}
